#tasksTable {
	-fx-table-cell-border-color: transparent;
}

#tasksTable > .column-header-background {
	visibility: hidden;
	-fx-min-height: 0;
	-fx-max-height: 0;
	-fx-pref-height: 0;
	-fx-padding: -1em;
}
